@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=cyrillic-ext');


// mixin for media query
.screen(@min, @max, @ruleset) {
  @media (min-width: @min) and (max-width: (@max - 1)) {
    @ruleset();
  }
}

@thin-text: 100;
@regular-text: 400;
@light-text: 300;

html { 
    font-size: calc(14px + 0.25vw);
  }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color:  #1c1c1c;
    line-height: 1.5;
}

.site-wrapper {
    max-width: 768px;
    margin: 0 auto;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color:   #d9d9d9;;
        top: 85px;
        left: 0;

        .screen(320px, 768px, {
            display: none;
        });
    }
}
.header,
.questionnaire {
    width: 100%;
}
.info,
.skills,
.js,
.about {
    width: 100%;
}

.questionnaire-title {
    font-size: 4.9286rem;
    font-weight: @thin-text;
    padding-bottom: 60px;
}

h2 {
    font-size: 2.1429rem;
    font-weight: @light-text;
}

.menu__list {
    list-style: none;

    .screen(320px, 768px, {
            display: none;
        });

    .screen(768px, 2220px, {
            display: block;
            display: flex;
            justify-content: space-around;
            margin-bottom: 100px;
            margin-top: 40px;
        });
}
.menu__link{
    text-decoration: none;
    font-weight: @light-text;

    &:hover{
        color:  #1c1c1c;
    }
    &:active { 
        color: #ccb1f1;
    }

}

.menu__list-mobile {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: 36px;
    left: 5%;
    width: 90vw;
    padding: 25px 15px;
    transition: left .3s;
    animation-duration: 3s;
    animation-name: slidein;
    list-style: none;
}

.menu__item-mobile {
    padding: 0.743rem 0;
}
.menu__mobile-logo {
    .screen(768px, 2220px, {
            display: none;
        });
    .screen(320px, 768px, {
            display: block;
        });

}

.show-menu {
    visibility: visible;
    left: 5%;
    z-index: 2;
}

.burger-img {
    width: 30px;
    height: 30px;
    display: block;
    background: url('../img/burger.svg') no-repeat center;
    background-size: cover;
    cursor: pointer;
    position: relative;
    margin: 0 auto;

}
.animation-on {
   animation: burger-rotate .4s; 
}

@keyframes burger-rotate {
    0% {
        transform: rotateX(-180deg);
    }
    100% {
        transform: translateY(90deg);
    }
}
.questionnaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__title,
.js-title,
.skills-title,
.about-title,
.skills-title  {
    font-size: 1.5rem;
    text-align: center;
    font-weight: @light-text;
    position: relative;

    

    &:before {
        position: absolute;
        content: '';
        width: 47px;
        height: 47px;
        left: 46%;
        top: -65px;  
    }

    .screen (768px, 1920px,{
        font-size: 2.0714rem;
        margin-top: 60px;
        margin-bottom: 50px;
    });
}

.info__title {
    &:before {
        background: url('../img/profile.svg') no-repeat center;
    }
}
.js-title {
    
    &:before {
        background: url('../img/js.svg') no-repeat center;  
    }
}
.skills-title {
    
    &:before {
        background: url('../img/skills.svg') no-repeat center;  
    }
}
.about-title {
    
    &:before {
        background: url('../img/resume.svg') no-repeat center;  
    }
}


.info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
    padding-bottom: 80px;
    list-style: none;
}
.input,
.about-textarea {
    border: 1px solid #e5e5e5; 
    border-radius: 5px;
    padding: 0.743rem;
    margin: 0.743rem 0;
    font-size:1.6429rem;

    &:hover {
        border-color: #435993;
    }
    &:focus {
        border-color: linear-gradient(90deg, #ccb1f1 0%, #435993 100%);
        outline: none;
    }
}
::-webkit-input-placeholder { 
  color: #c8c8c8;
  text-align: center;
}
::-moz-placeholder { 
  color: #c8c8c8;
}
:-ms-input-placeholder { 
  color: #c8c8c8;
}
:-moz-placeholder { 
  color: #c8c8c8;
}
select {
  text-align: center;
  text-align-last: center;
  color: #c8c8c8;
  background-color: #fff;
}
.info-date {
    padding: 0.743rem;
    width: 269px;
    height: 48px;
}

.skills-checkboxes {
    display: flex;
    flex-direction: column;
}

.checkboxes-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-top: 40px;
    align-items: center;
    
    .screen(768px, 2220px {
        flex-direction: row;
    });

}

.checkboxes-first-group,
.checkboxes-second-group,
.checkboxes-third-group {
    width: 33.3%;
}


input[type='checkbox'] {
    display: none;
}

.checkbox + label {
    color:  #000000;
    font-size: 15.99px;
    cursor: pointer;
    padding: 0.743rem;
    text-align: left;
    position: relative;
    padding-left: 55px;
    &:before {
        position: absolute;
        content: '';
        border: 1px solid #435993;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        left: 22px;
        top: 10px;
        background-color: transparent;
        transition: all .3s ease-in-out;

        .screen(768px, 1920px {
        
    });
    }

    .screen(768px, 1920px {
        padding-left: 50px;
    });
}

.checkbox:checked + label::before,
.checkbox:checked + label::after {
    position: absolute;
    background-color: #435993;
    
    border-radius: 5px;
    content: '';

}
.checkbox:checked + label::before {
    height: 15px;
    top: 17px;
    left: 37px;
    transform: rotate(45deg);
    width: 1px;
}
.checkbox:checked + label::after{
    top: 15px;
    left: 27px;
    height: 20px;
    transform: rotate(-45deg);
    width: 4px;
}
.label-checkbox {
    white-space: nowrap;
}

.js {
    width: 90%;
    margin: 90px auto;
    
        .screen(758px, 2220px, {
            width: 100%;
        });
}

.range-label-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    margin-bottom: 12px;
    list-style: none;
    padding-left: 0;
}

.label-item {
    position: relative;
    color:  #2e201b;
    font-size: 12.99px;
    flex: 1;
    margin: 0 0.5rem;
    &:after {
        position: absolute;
        content:"";
        width: 3px;
        border-left: 1px dotted #435993;
        height: 2rem;
        bottom: -32px;
        left: 0;

        .screen(320px, 758px, {
            bottom: -25px;
        });
    }
    &:first-child {
        margin-left: 0;
    }
}
#svg {
     .screen(320px, 758px,{
        width: 100%;
    });
}
.slider {
    max-width: 100%;
    height:20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color:transparent;
}

.thumb {
    position: relative;
    background-color: #666;
    opacity: 0.5;
    width: 23px;
    height: 26px;
    background: url('../img/thumb.svg') no-repeat center;
    cursor: pointer;
    top: -7px;

}

.about {
    display: flex;
    flex-direction: column;
    width: 59%;
    margin: 0 auto;
}

.about-description {
    text-align: center;
    margin: 20px 0;

}
.about-textarea {
    color:  #c8c8c8;
    font-size: 19.99px;
    width: 100%;
}

.submit-button {
    color:  #ffffff;
    font-size: 1.0714rem;
    line-height: @light-text;
    background-color: #435993;
    line-height: 1.5;
    background-color: #435993;
    border-radius: 0.7143rem;
    padding: 0.7rem 1.5rem;
    border: none;
    margin: 3rem;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #fff;
        color: #435993;
        box-shadow: inset 1px 1px 0 0  #435993;
        
    }
}